.Antonyms .btn-custom {
  background: #db4437;
  color: #fff;
  transition: all 200ms ease-in-out;
  font-size: smaller;
  padding: 2px 5px !important;
}

.Antonyms .btn-custom:hover {
  background: #68211a;
  color: #fff;
  transition: all 200ms ease-in-out;
  cursor: cursor !important;
}
