.App {
  text-align: center;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/009/333/original/notebook-background.jpeg?1621711724");
}

.App .header-image {
  border-radius: 5px;
}
