:root {
  --heading-font: "Brygada 1918", serif;
  --paragraph-font: "Work Sans", sans-serif;
}

body {
  margin: 0;
  font-family: var(--paragraph-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
